/*
  jfGreen: #235e13
*/
body{
  text-align: left;
  font-family: 'Bitter';
  font-size: 1em;
  line-height: 1.5em;
  margin: 0em auto;
}

h1{
  font-size: 64pt;
  text-align: center;
  line-height: .9em;
  font-weight: normal;
}

p{
  font-size: 14pt;
  text-align: left;
  font-weight: normal;
}

a{
  color:#000000;
}

a:hover{
  color: #235e13;
}

.navigation{
  float: right;
  padding: 0px;
  display: table;
}

.tabrow{
  display: table-row;
}

.navbutton,.navbutton-current{
  display: table-cell;
  padding: 5px 15px;
  text-decoration: none;
}

.navbutton{
  color:#000000;
}

.navbutton-current{
  background: #000000;
  color:#ffffff;
}

.navbutton:hover,.navbutton-current:hover{
  color:#ffffff;
  background: #235e13;
  outline: 3px solid #ffffff;
}

div.header{
  padding: 10pt 3%;
/*  outline: 2px solid #000000;*/
}

div.content{
  padding: 1px 5%;
}

div.headerbar{
  background: #235e13;
  height: 8pt;
}
