:root{
  --jfGreen: #235e13;
  --dark: #2d2d2d;
  --light: #f8f8f8;
}

body {
  background-color: var(--light);
  margin: 0px;
  padding: 0px;
}

a, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: Bitter;
  line-height: 1.5em;
  padding-bottom: 10px;
  color: var(--dark);
}
h1{
  font-size: 24pt;
  color var(--dark);
}
h2{
  font-size: 18pt;
  color: var(--jfGreen);
  font-weight: normal;
}
p{
  font-size: 12pt;
}
a{
  text-decoration: none;
  color: var(--jfGreen);
}
a:hover{
  color: var(--dark);
  text-decoration: underline;
}
a:active{
  background: var(--jfGreen);
  color:white;
  text-decoration: none;
  border-radius: 5px;
}

header {
  width: 100%;
  padding: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  padding: 0;
  background: var(--jfGreen);
  position: fixed;
  top: 0;
  box-shadow: 0px -2px 7px 0px #222;
}

header nav a {
  font-family: Bitter;
  font-size: 12pt;
  color: var(--light);
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  margin: 0 2px;
}

header nav a:active {
  font-family: Bitter;
  font-size: 12pt;
  color: var(--jfGreen);
  background: var(--light);
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  margin: 0 2px;
}

header nav a:hover {
  font-family: Bitter;
  font-size: 12pt;
  color: var(--light);
  background: var(--dark);
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  margin: 0 2px;
}

header .title {
  display: block;
  font-family: Bitter;
  font-size: 36pt;
  line-height: .9em;
  color: var(--dark);
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  margin-top: 45px;
}

header .bar{
  width: 90%;
  max-width: 1024px;
  height: 10px;
  background: var(--jfGreen);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px){
  header .title {
    font-size: 48pt;
    padding-top: 40px;
  }
  
  header .bar {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px){
  header nav{
    width: 1024px;
    padding: 0 calc(50% - 512px);
  }
  header .title {
    font-size: 60pt;
    padding-top: 60px;
  }
  
  header .bar {
    margin-bottom: 60px;
  }
}

main {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* HOME*/

main .twocol {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .twocol .image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  justify-content: center;
}

main .twocol .image img {
  width: 100%;
  max-width: 512px;
  margin: 0;
}

main .twocol .image .links{
  display: flex;
  justify-content: center;
  width: 100%;
}

main .twocol .image .links a {
  padding: 10px;
  margin: 1px 4px;
}

main .twocol .about{
  padding: 15px;
}

main .quote{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
  background: var(--jfGreen);
}

main .quote p{
  font-size: 36pt;
  color: var(--light);
}

main .quote h3{
  font-size: 18pt;
  font-weight: normal;
  color: var(--light);
}

@media screen and (min-width: 800px){
  main .twocol {
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
  }
  main .twocol .image {
    width: 50%;
  }
  main .twocol .about {
    width: 50%;
    padding-left: 25px;
  }
}

@media screen and (min-width: 1025px){
  main .twocol {
    width: 100%;
  }
  main .quote {
    border-radius: 15px;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 40px 0;
}

footer .spacer {
  display: none;
}

@media screen and (min-width: 480px){
  footer {
    flex-direction: row;
  }
  footer .spacer {
    display: inline;
    padding-left: 1ex;
    padding-right: 1ex;
  }
}
