/*
  jfGreen: #235e13
*/
body{
  text-align: left;
  font-family: 'Bitter';
  font-size: 1em;
  line-height: 1.5em;
  margin: 0em auto;
}

.footer{
  min-height: 1em;
}

.title{
  padding: .5em;
  font-size: 64pt;
  text-align: center;
  line-height: .9em;
  font-weight: normal;
  display: block;
}

a{
  color:#000000;
}

a:hover{
  color: #235e13;
}

h2{
  display: inline-block;
  padding: 0px 0px 0.75em 0px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: normal;
  color: #235e13;
}

p{
  padding: 0px 0px 0.5em 0px;
  margin: 0px;
}

.navigation{
  padding: 0px;
  display: block;
  height: auto;
  overflow: auto;
}

.buttons{
  float: right;
  display: inline-block;
}

.center{
  text-align: center;
}

.navbutton,.navbutton-current{
  padding: .5em 15px;
  text-decoration: none;
  display: inline-block;
}

.navbutton{
  color:#000000;
}

.navbutton-current{
  background: #000000;
  color:#ffffff;
}

.navbutton:hover,.navbutton-current:hover{
  color:#ffffff;
  background: #235e13;
  outline: 3px solid #ffffff;
}

div.header{
  padding: 10px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.headerbar{
  background: #235e13;
  height: 8pt;
}

.content{
  display: block;
  width: 100%;
}

.contentstyleReg, .contentstyleEmph1, .contentstyleEmph2{
  display: block;
  width: 100%;
}

.contentstyleEmph2{
  background: #235e13;
  color: #ffffff;
}

.contentblock {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.onecol{
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.twocol, .twocol{
  display: flex;
  flex: 50%;
  min-width: 400px;
  vertical-align: text-top;
}

.innermost{
  display: inline-block;
  padding: 20px 10px;
  width: 100%;
}

.quote{
  font-size: 32pt;
  text-align: center;
  line-height: 1.2em;
}

.attribution{
  font-size: 18pt;
  text-align: center;
  padding: 15px 0px;
  line-height: 1em;
}

.largelog{
  width: 80%;
}
