/*
  jfGreen: #235e13
*/
body{
  text-align: left;
  font-family: 'Bitter';
  font-size: 1em;
  line-height: 1.5em;
  margin: 0em auto;
}

.title{
  padding: .5em;
  font-size: 64pt;
  text-align: center;
  line-height: .9em;
  font-weight: normal;
}

a{
  color:#000000;
}

a:hover{
  color: #235e13;
}

.navigation{
  padding: 0px;
  display: inline-block;
  width:100%;
}

.sitename{
  float: left;
  display:inline-block;
}

.buttons{
  float: right;
  display: inline-block;
}

.name{
  font-size: 1.2em;
  padding: .5em 15px;
  text-decoration: none;
  display: inline-block;
}

.navbutton,.navbutton-current{
  padding: .5em 15px;
  text-decoration: none;
  display: inline-block;
}

.navbutton{
  color:#000000;
}

.navbutton-current{
  background: #000000;
  color:#ffffff;
}

.navbutton:hover,.navbutton-current:hover{
  color:#ffffff;
  background: #235e13;
  outline: 3px solid #ffffff;
}

div.header{
  padding: 10px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

div.content{
  padding: 0px 3%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: block
}

.content-left{
  display: inline-block;
  float: left;
  width: 48%;
}

.content-right{
  display: inline-block;
  float: right;
  width: 48%;
}

.largelog{
  width: 50%;
  align: center;
}

div.headerbar{
  background: #235e13;
  height: 8pt;
}
