main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

main .coordinates {
  width: 90%;
  max-width: 1024px;
}

main h2 {
  width: 90%;
}

main h3{
  margin: 0;
}

main h4{
  margin: 0;
}

main .useful-links {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
}

main .useful-links a {
  margin: 0;
  padding: 10px;
  line-height: 1em;
  text-align: center;
}

main .course-material {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 90%;
  max-width: 1024px;
}

main .course-material h2{
  width: 100%;
}

main .course-material .part {
  padding: 10px 0;
  width: 100%;
}

main .course-material .part ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

main .course-material .part ul li {
  line-height: 1.5em;
}

main .separator {
  background: var(--jfGreen);
  width: 90%;
  max-width: 1024px;
  height: 5px;
  margin: 0 0 25px;
}

main .feed {
  width: 90%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

main .feed .meeting {
  padding: 0 0 10px;
  width: 100%;
}

main .feed .meeting p{
  margin: 0;
}

main .feed .meeting a{
  margin-bottom: 10px;
}

main .feed .exam {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10%;
  border-radius: 20px;
  background: var(--jfGreen);
  color: var(--light);
}

main .feed .exam a, main .feed .exam p{
  color: var(--light);
  width: 100%;
  text-align: center;
}

main .feed .exam a{
  font-size: 18pt;
}

main .feed .exam a:hover{
  text-decoration: underline;
}

@media screen and (min-width: 568px) {
  main .course-material {
    padding: 0 0 20px;
  }
  main .course-material .part{
    width: 30%;
    padding: 10px 3.3% 0 0;
  }
  main .feed .meeting {
    width: 48%;
    padding: 1%;
  }
}
